.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%;
}
.aspect-h-9 {
}
.aspect-w-16 > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.my-12 h3 {
  background: linear-gradient(90deg, var(--color-primary), #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}